
NEXT_PUBLIC_SUPABASE_URL=https:
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_pub

SUPABASE_SERVICE_ROLE_KEY=eyJ

RESEND_API_KEY=re_Y

# Add the webhook secret from Resend
RESEND_WEBHOOK_SECRET=whsec_y/g

NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_xxxxx
PAYSTACK_SECRET_KEY=sk_test_xxxxx

NEXT_PUBLIC_APP_URL=https://naijaninja.net
NEXT_PUBLIC_OG_IMAGE=https://res.cloudinary.com/lordefid/image/upload/v1765994850/OG_image_mqkixt.png

# Add this after you verify with Google Search Console:
# NEXT_PUBLIC_GOOGLE_VERIFICATION=your-verification-code